<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzl.cloudprovider2.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.dzl.cloudapi.entitys.Dept">
    <id column="dept_no" jdbcType="INTEGER" property="deptNo" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="db_source" jdbcType="VARCHAR" property="dbSource" />
  </resultMap>
  <sql id="Base_Column_List">
    dept_no, dept_name, db_source
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dept
    where dept_no = #{deptNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dept
    where dept_no = #{deptNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dzl.cloudapi.entitys.Dept">
    insert into dept (dept_no, dept_name, db_source
      )
    values (#{deptNo,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, #{dbSource,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dzl.cloudapi.entitys.Dept">
    insert into dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptNo != null">
        dept_no,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="dbSource != null">
        db_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptNo != null">
        #{deptNo,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="dbSource != null">
        #{dbSource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dzl.cloudapi.entitys.Dept">
    update dept
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="dbSource != null">
        db_source = #{dbSource,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_no = #{deptNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dzl.cloudapi.entitys.Dept">
    update dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      db_source = #{dbSource,jdbcType=VARCHAR}
    where dept_no = #{deptNo,jdbcType=INTEGER}
  </update>
</mapper>